body {
    margin: 0 auto;
    border: 2px solid red;
}

nav {
    border: 1px solid blue;
    background-color: grey;
}

.icon {
    width: 8%;
    height: 8%;
}

#navbarNav {
    border: 1px solid red;
}

.wallpaper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.wallpaper2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}